{% extends "base.html" %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}

<body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Вы вышли из системы</h1>
        </div>
        <div class="form-container">
            <form class="form" >
                <div class="form__group">
                    <label for="id_password" class="form__label">Вы вышли из своей учётной записи. Ждём вас снова!</label>
                </div>
            </form>
        </div>
    </main>
</body>

{% endblock %}