{% load static %}
{% with section=request.resolver_match.url_name %}

  <ul class="nav__items list">
    <li class="nav__item {% if section == 'index' %} nav__item_active {% endif %}" >
      <a href="{% url 'index' %}" class="nav__link link">Рецепты</a>
    </li>
    <li class="nav__item {% if section == 'profile_following' %} nav__item_active {% endif %}">
      <a href="{% url 'profile_following' request.user %}" class="nav__link link">Мои подписки</a>
    </li>
    <li class="nav__item {% if section == 'new_recipe' %} nav__item_active {% endif %}">
      <a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a>
    </li>
    <li class="nav__item {% if section == 'profile_favorites' %} nav__item_active {% endif %}">
      <a href="{% url 'profile_favorites' request.user %}" class="nav__link link">Избранное</a>
    </li>
    <li class="nav__item {% if section == 'profile_purchases' %} nav__item_active {% endif %}">
      <a href="{% url 'profile_purchases' request.user %}" class="nav__link link">Список покупок</a>
      <span class="badge badge_style_blue nav__badge" id="counter">{{ request.user.purchases.count }}</span>
    </li>
  </ul>
  <ul class="nav__items list">
    <li class="nav__item {% if section == 'password_change' %} nav__item_active {% endif %}">
      <a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a>
    </li>
    <li class="nav__item {% if section == 'logout' %} nav__item_active {% endif %}">
      <a href="{% url 'logout' %}" class="nav__link link">Выход</a>
    </li>
  </ul>

{% endwith %}