{% extends "base.html" %}
{% block title %}Мои подписки{% endblock %}
{% load static %}
{% load recipe_filters %}
{% block styles %} <link rel="stylesheet" href="{% static './pages/myFollow.css' %}"> {% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
  </div>
  {% for following in page %}
    <div class="card-list">
      <div class="card-user" data-author="{{ recipe.author }}">
      <div class="card-user__header">
        <h2 class="card-user__title">{{ following.username }}</a></h2>
      </div>
      <div class="card-user__body">
        <ul class="card-user__items">
          {% for recipe in following.recipes.all|slice:":3" %}
            <li class="card-user__item">
              <div class="recipe">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                <h3 class="recipe__title" >{{ recipe.title }}</h3>
                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
              </div>
            </li>
          {% endfor %}
          {% if following.recipes.count > 3 %}
            <li class="card-user__item">
              <a href="{% url 'profile' following.username %}" class="card-user__link link">Еще {{ following|counter }} ...</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">
          <a style="color: inherit; text-decoration:none;" href="{% url 'profile_unfollow' following.username %}">Отписаться</a>
        </button>
      </div>
    </div>
  {% endfor %} 
{% endblock %}

{% block scripts %}
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/components/MainCards.js' %}"></script>
  <script src="{% static '/js/components/MyFollow.js' %}"></script>
  <script src="{% static '/js/components/Subscribe.js' %}"></script>
  <script src="{% static '/js/components/Header' %}.js"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}






